extends ../_layouts/base
include ../_modules/article/article
include ../_modules/cta/cta

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.whitepapers
        section.whitepapers__hero
            h1.whitepapers__title= site.data.whitepapers.title
        section.whitepapers__body
            .container
                .row
                    .col-xs-24.col-sm-22.col-sm-offset-1.whitepapers__main
                        h2= site.data.whitepapers.subtitle
                        p= site.data.whitepapers.desc
                        span!= site.data.whitepapers.link
                                            
                    
                    each item, index in site.data.whitepapers.articles
                        .col-xs-24.wow.fadeInRightBig(data-wow-delay="#{(index + 1)/8}s")
                            +article(item)
                            
        section.whitepapers__cta
            +cta(site.data.whitepapers.cta)
        
                        
