extends ../_layouts/base
include ../_modules/cta/cta

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.mantenimiento
        section.mantenimiento__hero
            h1.mantenimiento__title= site.data.mantenimiento.title
        section.mantenimiento__body
            .container
                .mantenimiento__subtitle 
                    p= site.data.mantenimiento.mantenimiento.title
                    
                ul.row.mantenimiento__includes
                    each item, index in site.data.mantenimiento.mantenimiento.items
                        li.col-xs-12.col-sm-6.col-md-6.wow.fadeInUp(data-wow-delay="#{(index + 1)/4}s") 
                          div.mantenimiento__img
                              img(src= item.img)
                          
                          p.mantenimiento__desc= item.desc  
                          
                .mantenimiento__subtitle 
                    p= site.data.mantenimiento.fabricantes.title
                    
                .row
                    div.network.col-xs-24.col-sm-8.col-md-6.col-md-offset-4
                      p= site.data.mantenimiento.fabricantes.network.title
                      ul 
                          each item, index in site.data.mantenimiento.fabricantes.network.items 
                            li.wow.fadeInLeft(data-wow-delay="#{(index + 1)/4}s") 
                              p= item.name
                    
                    div.storage.col-xs-24.col-sm-8.col-md-6
                      p= site.data.mantenimiento.fabricantes.storage.title
                      ul 
                          each item, index in site.data.mantenimiento.fabricantes.server.items 
                            li.wow.fadeInLeft(data-wow-delay="#{(index + 1)/4}s") 
                              p= item.name
                    div.server.col-xs-24.col-sm-8.col-md-6   
                      p= site.data.mantenimiento.fabricantes.server.title 
                      ul 
                          each item, index in site.data.mantenimiento.fabricantes.storage.items 
                            li.wow.fadeInLeft(data-wow-delay="#{(index + 1)/4}s") 
                              p= item.name

                        
        section.about__cta
            +cta(site.data.mantenimiento.cta)
