extends ../_layouts/base
include ../_modules/cta/cta

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.about.mantenimiento
        section.about__hero
            h1.about__title= site.data.mantenimiento.title
        section.about__body
            .container
                .mantenimiento__title 
                    p= site.data.mantenimiento.mantenimiento.title
                    
                ul.row
                    each item, index in site.data.mantenimiento.mantenimiento.items
                        li.col-xs-24.col-sm-6.col-md-6.wow.fadeInUp(data-wow-delay="#{(index + 1)/4}s") 
                          div.mantenimiento__img
                              img(src= item.img)
                          
                          p.mantenimiento__desc= item.desc  
                          
                .fabricantes__title 
                    p= site.data.mantenimiento.fabricantes.title
                    
                .row
                    div.network.col-xs-24.col-sm-8.col-md-8
                      p= site.data.mantenimiento.fabricantes.network.title
                      ul 
                          each item, index in site.data.mantenimiento.fabricantes.network.items 
                            li.wow.fadeInLeft(data-wow-delay="#{(index + 1)/4}s") 
                              p= item.name
                    
                    div.storage.col-xs-24.col-sm-8.col-md-8
                      p= site.data.mantenimiento.fabricantes.storage.title
                      ul 
                          each item, index in site.data.mantenimiento.fabricantes.server.items 
                            li.wow.fadeInLeft(data-wow-delay="#{(index + 1)/4}s") 
                              p= item.name
                    div.server.col-xs-24.col-sm-8.col-md-8   
                      p= site.data.mantenimiento.fabricantes.server.title 
                      ul 
                          each item, index in site.data.mantenimiento.fabricantes.storage.items 
                            li.wow.fadeInLeft(data-wow-delay="#{(index + 1)/4}s") 
                              p= item.name

                        
        section.about__cta
            +cta(site.data.mantenimiento.cta)
