extends ../_layouts/base
include ../_modules/contact-form/contact-form

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.gartner
        section.gartner__hero
            .container
                .row
                    .col-xs-24.col-sm-20.col-sm-offset-1.col-md-16.col-lg-13.gartner__data
                        h1.gartner__title!= site.data.gartner.title
                    .gartner__character            
                        img._body(src="/images/analisis/character.png")
                        img._arm(src="/images/analisis/arm.png")
                      
      
        section.gartner__body
            .gartner__form
                .container
                    .row
                        .col-xs-24.col-sm-20.col-sm-offset-2.col-md-16.col-md-offset-4.wow.fadeInRightBig
                            +contact-form(site.data.gartner.form, 'Descargar')
            .container
                .row
                    .col-xs-24.col-sm-18.col-sm-offset-3.gartner__data
                        img.wow.fadeInLeft(src="/images/gartner-logo.png")
                        each item, index in site.data.gartner.content
                          
                            if item.type == 'text'
                                p.wow.fadeInLeft(data-wow-delay="#{(index + 1)/4}s")=item.cont
                              
                            if item.type == 'title'
                                h2.wow.fadeInLeft(data-wow-delay="#{(index + 1)/4}s")=item.cont
                                
                                if item.text
                                    p.wow.fadeInLeft(data-wow-delay="#{(index + 1)/4}s")=item.text
                                    
                                if item.list
                                    ul
                                        each bullet in item.list
                                            li.wow.fadeInLeft(data-wow-delay="#{(index + 1)/4}s")= bullet
                                      
