extends _layouts/base

include _modules/slider/slider
include _modules/cta/cta
include _modules/suscribe/suscribe

block content
    main.home
        section.home__hero
            +slider('home__slider')
                each slide in site.data.home.slider
                    .home__slider
                        .container
                            img(src=slide.img)
                            h2=slide.title
                            p=slide.desc
                            a._button.-white(href=slide.btn.url)= slide.btn.text
      
        section.home__porquexsi
            .container
                p.home__porquexsi__title= site.data.home.porquexsi.title
                
                ul.row
                    each item in site.data.home.porquexsi.items
                      li.home__porquexsi__items.col-xs-24.col-sm-12.col-md-6
                          div.home__porquexsi__img 
                            img(src=item.icono)
                          p.home__porquexsi__item-title= item.titulo
                          p.home__porquexsi__item-desc=  item.texto
        
        section.home__gestionit.row 
            div.home__gestionit__img.col-xs-24.col-sm-24.col-md-14
                img(src= site.data.home.gestionit.img)
            div.home__gestionit__content.col-xs-24.col-sm-24.col-md-10
                p.home__gestionit__title= site.data.home.gestionit.title
                p.home__gestionit__desc= site.data.home.gestionit.desc1
                p.home__gestionit__desc= site.data.home.gestionit.desc2

      
        +cta(site.data.home.cta)
      
        section.soyxsi.row
            div.it.col-xs-24.col-sm-24.col-md-12
                div.row
                    div.col-xs-12
                        p.it__title= site.data.home.it.title
                        a.button__soy ¿Por qué elegir xsi?
                    div.it__img.col-xs-12
                        img(src= site.data.home.it.img)
                
            div.finanzas.col-xs-24.col-sm-24.col-md-12 
                div.row
                    div.finanzas__img.col-xs-12  
                        img(src= site.data.home.finanzas.img) 
                    div.col-xs-12
                        p.finanzas__title= site.data.home.finanzas.title
                        a.button__soy ¿Por qué elegir xsi?

      
        section.home__hero-xsi
            +slider('home__slider-xsi')
                each slide in site.data.home.sliderxsi
                    .home__slider-xsi
                          .container.row
                              .home__slider-xsi-img.col-xs-24.col-sm-12
                                  img(src= slide.img)
                              .home__slider-xsi-text.col-xs-24.col-sm-12
                                  p= slide.text  
           
      
        section.home__clients
            div.container 
                p.home__clients__title= site.data.clientes.clientes.title
                ul.row 
                  each client in site.data.clientes.clientes.clients 
                    li.col-xs-24.col-sm-12.col-md-6
                        div.home__clients__img 
                            img(src=client.img)
                
      
        section.home__novedades
        
            .container.home__novedades__container        
                .row
              
                p.home__novedades__title= site.data.novedades.novedades.title
                
                ul.home__novedades__articles.row
                  each article in site.data.novedades.novedades.articles  
                    li.col-xs-24.col-sm-12.col-md-6
                        div.home__novedades__img
                            img(src=article.img)
                        
                        p.home__novedades__article-title= article.title
                        p.home__novedades__article-desc= article.desc
        
        +suscribe
